@import '../../../../../../node_modules/angular-material-css-vars/src/lib/variables';

.avatar {
    background-image: url(../../../../../assets/logo.png);
    background-size: cover;
}

.active-link {
    font-weight: bold !important;
}

.mat-nav-list {
    width: 100%;

    a {
        .mat-icon {
            margin-right: 18px;
        }

        display: block;
    }
}

.nested-menu {
    .nested {
        list-style-type: none;
    }

    .submenu {
        display: none;
        height: 0;
    }
    
    & .expand {
        & .submenu {
            display: block;
            list-style-type: none;
            height: auto;
            margin: 0;

            li {
                a {
                    padding: 0;
                    display: block;
                }
            }
        }
    }
}