table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
    text-align: center !important;
  }
  .h1-css{
    text-align: center;
    margin-top:16px;
    font-size: 30px;
    color: white;
    background-color: #3f51b5;
    border-radius: 90px;
  }
  
  .mat-form-css{
    width: 80%;
    float: left;
  }

  .search-css{
    justify-content: space-between;
    display: flex;
  }

  .button-css{justify-content: flex-end;
    display: flex;
    margin: 25px;
    margin-right: 0px;
}

.div-css{
  border-radius: 50px;
  border: 2px solid #3f51b5;
  margin-top: 20px;
}

.paginator-css{
  margin-bottom: 13px;
  border-radius: 0px 0px 40px 40px;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

th.mat-header-cell {
  text-align: left;
  background-color: cornflowerblue;
  font-size: larger;
}