mat-sidenav-container {
    height: 100%;

    mat-sidenav {
        width: 250px;
    }

    mat-sidenav-content {
        
        mat-toolbar {
            ul {
                list-style-type: none;
            }

            a {
                text-decoration: none;
                color: white;
                padding: 00.5rem;
            }

            a:hover, a:active {
                color: lightgray;
            }
        }
    }
}