<mat-toolbar>
    Responsive Navbar design
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <a class="menu-button" href="">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>
        <a class="menu-button" href="">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </a>
        <a class="menu-button" href="">
            <mat-icon>info</mat-icon>
            <span>About</span>
        </a>
        <a class="menu-button" href="">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </a>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            Main Content
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>